<!DOCTYPE html>
<html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Main Page</title>
</head>

<body style="text-align: center;">
	<h1>New Customer</h1>
	<form action="#" th:action="@{/newCustomer}" th:object="${newCustomer}" method="get">
		First Name:<br>
		<input type="text" name="firstName" th:field="*{firstName}"><br>
		Last Name:<br>
		<input type="text" name="lastName" th:field="*{lastName}"><br>
		Phone Number:<br>
		<input type="text" name="phoneNumber" th:field="*{phoneNumber}"><br>
		Email:<br>
		<input type="text" name="email" th:field="*{email}"><br>
		Address:<br>
		<input type="text" name="address" th:field="*{address}"><br>
		Zip Code:<br>
		<input type="text" name="zipCode" th:field="*{zipCode}"><br>
		Phone Company:<br>
		<input type="text" name="phoneCompany" th:field="*{phoneCompany}"><br>
		<input type="submit" value="Submit"> <input type="reset" value="reset"/>
	</form>
	<h1>Port-In</h1>
	<form action="#" th:action="@{/port}" th:object="${port}" method="get">
		First Name:<br>
		<input type="text" name="firstName" th:field="*{firstName}"><br>
		Last Name:<br>
		<input type="text" name="lastName" th:field="*{lastName}"><br>
		Phone Number:<br>
		<input type="text" name="phoneNumber" th:field="*{phoneNumber}"><br>
		New Phone Company:<br>
		<input type="text" name="phoneCompany" th:field="*{phoneCompany}"><br>
		<input type="submit" value="Submit"> <input type="reset" value="reset"/>
	</form>
	<script>
		alert($)
	</script>
</body>
</html>